In [1]:
my_name = "Young Woo Kim"
print("Hello " + my_name)

Hello Young Woo Kim

# .format()을 이용해보자!
.format('something1', 'something2')

In [2]:
print('This is a string {} ' .format('INSERTED!!'))

This is a string INSERTED!!

In [3]:
print("The {} {} {} is {}" .format('fox', 'rabbit', 'bear', 'tiger'))

The fox rabbit bear is tiger

지정을 안하면 각각 순서대로 0, 1, 2, 3 이렇게 들어가는 것을 확인할 수 있다.

In [7]:
print("The {0} {2} {1} is {5} {4} {3}" .format('red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple'))

The red yellow orange is indigo blue green

이렇게 내 마음대로 순서를 바꿀 수도 있다. 또는 변수처럼 지정할 수도 있다.

In [8]:
print("The {r} {g} {b} {y}" .format(r = 'red', b = "blue", g = "green", y = 'yellow'))

The red green blue yellow

Float formatting은 {value:width.precision f}이렇게 따라온다.

In [9]:
result = 100/ 787
result

0.12706480304955528

In [15]:
print("the result was {r:100.5f}" .format(r = result))

the result was                                                                                              0.12706

이렇게 소수점 다섯자리까지 나오게 된다. 앞에있는 100은 칸이다. 100자리를 남겨두고 출력하게 된다

In [17]:
result = 104.12345

In [18]:
print("the result was {r:100.5f}" .format(r = result))

the result was                                                                                            104.12345

## 다음 함수는 파이썬 3.6때 새로 소개된 함수이다. python 2에서는 안된다.

In [19]:
name = "Young Woo Kim"
print(f'Hello, his name is {name}')

Hello, his name is Young Woo Kim

이거 파이선 2나 3.6이하에서는 절대로 안된다 ㅋㅋㅋ

In [21]:
name = "sam"
age = 3
name2 = "john"
age2 = 10

In [24]:
print(f"{name} is {age} years old and {name2} is {age2} years old")

sam is 3 years old and john is 10 years old