## Numbers

In [1]:
2 + 1

3

In [2]:
2 - 1

1

In [4]:
2 * 2

4

In [5]:
2 / 2

1.0

In [6]:
7 / 4

1.75

In [7]:
7 % 4

3

In [8]:
50 % 5

0

In [9]:
23 % 2

1

In [11]:
2 ** 3

8

In [12]:
2 + 10 * 10 + 3

105

In [13]:
(2 + 10) * 10 + 3

123

In [14]:
2 + 2 * 3 ** 2

20

In [15]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [16]:
0.1 + 0.2 == 0.3

False

- - -
## Variable

파이썬은 다이나믹 타이핑이 가능하다.
다른 언어는 불가능하다.

In [31]:
a = 5
b = 2

In [32]:
a

5

In [33]:
b

2

In [34]:
a = 10

In [35]:
a

10

In [36]:
a = a + a

In [37]:
a

20

In [38]:
type(a)

int

In [40]:
c = 30.1
d = 'Hello'
e = 'k'

In [41]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [42]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [43]:
print(my_taxes)

10.0

- - -
## Strings

' ', " "이 모두 가능하다.

In [45]:
'hello'

'hello'

In [46]:
"World"

'World'

In [47]:
'This is also a string'

'This is also a string'

In [48]:
"i'm going on a run"

"i'm going on a run"

In [49]:
print("Hello world one")
print('Hello world two')

Hello world one
Hello world two

In [50]:
print('hello \n world')

hello
 world

In [51]:
print('hello \t world')

hello 	 world

In [52]:
len('Hello \n world')

13

In [53]:
len('I am')

4

- - -
## String indexing and slicing

In [54]:
mystring = "Hello World"

In [55]:
mystring

'Hello World'

In [56]:
mystring[0]

'H'

In [57]:
mystring[5]

' '

In [58]:
mystring[4]

'o'

In [60]:
mystring[-1]

'd'

In [61]:
mystring[-2]

'l'

In [66]:
mystring[-11]

'H'

In [68]:
mystring = 'abcdefghijk'

In [70]:
mystring[2:]

'cdefghijk'

In [71]:
mystring[:4]

'abcd'

In [72]:
mystring

'abcdefghijk'

In [73]:
mystring[4:7]

'efg'

In [74]:
mystring[0:8:2]

'aceg'

In [75]:
mystring[::2]

'acegik'

In [76]:
mystring[::3]

'adgj'

In [77]:
mystring[::]

'abcdefghijk'

In [78]:
mystring[::-1]

'kjihgfedcba'

In [79]:
mystring[::-2]

'kigeca'

- - -
## String Properties and Methods

### Immutability

In [80]:
name = "Sam"

In [81]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [82]:
name[1:]

'am'

In [83]:
last_letters = name[1:]

In [84]:
'P' + last_letters

'Pam'

In [86]:
x = 'Hello World'
x = x + " it is beautiful outside!"

In [87]:
x

'Hello World it is beautiful outside!'

In [88]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [89]:
letter

'z'

In [90]:
'2' + '3'

'23'

In [91]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [94]:
x = 'Hello World'
x.upper()

'HELLO WORLD'

In [95]:
x.lower()

'hello world'

In [97]:
x.capitalize()

'Hello world'

In [99]:
x.splitlines()

['Hello World']

In [100]:
x.split()

['Hello', 'World']

In [101]:
x.split('l')

['He', '', 'o Wor', 'd']

In [102]:
#를 이용해 주석처리를 할 수 있다.

- - -
## String Formatting for Printing

In [103]:
print('This is a string {}' .format('Inserted'))

This is a string Inserted

In [104]:
print(' {} {} {}' .format('fox', 'brown', 'quick'))

 fox brown quick

In [106]:
print(" {0} {0} {0}" .format('good', 'bad', 'wierd'))

 good good good

In [107]:
print(" {q} {b} {f}" .format(f = 'fox', b = 'brown', q = 'quick'))

 quick brown fox

In [108]:
result = 100 / 777

In [109]:
print("The result was {}" .format(result))

The result was 0.1287001287001287

In [110]:
print("The result was {r}" .format(r = result, rr = result * 2))

The result was 0.1287001287001287

In [112]:
print("The result was {r:1.3f}" .format(r = result, rr = result * 2))

The result was 0.129

In [114]:
print("The result was {r:10.3f}" .format(r = result, rr = result * 2))

The result was      0.129

In [115]:
name = "Young Woo"

In [116]:
print(f'Hello, his name is {name}')

Hello, his name is Young Woo

In [118]:
print('Hello, his name is {name}')

Hello, his name is {name}

In [120]:
name = "Sam"
age = 3
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [127]:
print("%d plus %d is %d" %(2, 3, 2 + 3))
#오래된 버전

2 plus 3 is 5

- - -
## Lists

In [128]:
my_list = [1, 2, 3, 4, 5]

In [129]:
print(my_list[2])

3

In [133]:
my_list = ['String', 1, 2.3, 4 + 5]

In [134]:
len(my_list)

4

In [135]:
my_list[0]

'String'

In [136]:
my_list[3]

9

In [138]:
my_list[1:]

[1, 2.3, 9]

In [139]:
my_list[::2]

['String', 2.3]

In [140]:
my_list = ['one', 'two', 'three']

In [141]:
another_list = ['four', 'five']

In [145]:
new_list = my_list + another_list

In [146]:
new_list[0] = 'ONE ALL CAPS'

In [147]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [148]:
new_list.append('six')

In [149]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [151]:
new_list.pop()

'six'

In [152]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [153]:
popped_item = new_list.pop()

In [154]:
popped_item

'five'

In [155]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [157]:
new_list.pop(0)

'ONE ALL CAPS'

In [158]:
new_list

['two', 'three', 'four']

In [179]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [180]:
new_list.sort()

In [181]:
new_list

['a', 'b', 'c', 'e', 'x']

In [182]:
my_sorted_list = new_list.sort()

In [183]:
type(my_sorted_list)

NoneType

In [184]:
None

In [185]:
new_list.sort()
my_sorted_list = new_list

In [186]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [187]:
num_list

[4, 1, 8, 3]

In [188]:
num_list.reverse()
num_list

[3, 8, 1, 4]

In [189]:
num_list.sort()

In [190]:
num_list

[1, 3, 4, 8]

In [191]:
num_list.reverse()
num_list

[8, 4, 3, 1]

- - -
## Dictionaries

딕셔너리는 정렬되지 않는다. 리스트는 정렬될때 쓰인다.

위치를 찾고 싶을때는 리스트를 쓰자.

In [192]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [193]:
my_dict['key1']

'value1'

In [194]:
prices_lookup = {'apple': 2.99, 'oranges': 1.99, 'milk': 5.82}

In [195]:
prices_lookup['apple']

2.99

In [197]:
prices_lookup['milk']

5.82

In [198]:
d = {'k1': 123, 'k2': [0,1,2], 'k3': {'insideKey': 100}}

In [199]:
d['k2']

[0, 1, 2]

In [201]:
d['k3']

{'insideKey': 100}

In [203]:
d['k3']['insideKey']

100

In [205]:
d = {'key1':['a','b','c','d','e']}

In [210]:
mydict = d['key1']

In [211]:
mydict

['a', 'b', 'c', 'd', 'e']

In [213]:
mydict[2]

'c'

In [215]:
mydict[::2]

['a', 'c', 'e']

In [218]:
mydict[2].upper()

'C'

In [219]:
d = {'k1':100, 'k2':200}

In [220]:
d['k3'] = 300

In [222]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [223]:
d['k1'] = 'new value!!'

In [225]:
d

{'k1': 'new value!!', 'k2': 200, 'k3': 300}

In [226]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [227]:
d.values()

dict_values(['new value!!', 200, 300])

In [229]:
d.items()

dict_items([('k1', 'new value!!'), ('k2', 200), ('k3', 300)])

- - -
## Tuples

### Immutability

In [230]:
t = (1, 2, 3)
mylist = [1, 2, 3]

In [231]:
type(t)

tuple

In [232]:
type(mylist)

list

In [233]:
t

(1, 2, 3)

In [235]:
mylist

[1, 2, 3]

In [236]:
t = ('one', 2, 3.0)

In [237]:
t[0]

'one'

In [238]:
t[-1]

3.0

In [239]:
t = ('a', 'a' , 'b', 'a')

In [240]:
t.count('a')

3

In [241]:
t.index('b')

2

In [242]:
mylist

[1, 2, 3]

In [243]:
mylist[0] = 'New'

In [245]:
mylist

['New', 2, 3]

In [246]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

- - -
## Sets

In [247]:
myset = set()

In [248]:
myset

set()

In [249]:
myset.add(1)

In [250]:
myset.add(2, 3, 4)

TypeError: add() takes exactly one argument (3 given)

In [251]:
myset.add(2)

In [252]:
myset

{1, 2}

In [253]:
myset.add(2)

In [254]:
myset

{1, 2}

In [257]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3]

In [258]:
set(mylist)

{1, 2, 3}

- - -
## Comparison Operators

==, !=, >, <, >=, <= 6개만 외우자

In [259]:
2 == 2

True

In [260]:
2 == 1

False

In [261]:
2 != 2

False

In [262]:
3 < 4

True

In [263]:
3 > 4

False

In [264]:
3 < 4

True

In [265]:
3 <= 4

True

In [266]:
4 <= 4

True

In [267]:
2.0 == 2

True

In [269]:
1.0 + 2.0 == 3.0

True

&&, ||, ! 이 3개는 논리 연산자이다.

In [272]:
1 < 2 < 3
# 1 < 2 -> true -> 1 1 < 3 -> true

True

In [273]:
'h' == 'h' and 2 == 2

True

In [274]:
'h' < 'p' and 2 != 4

True

In [275]:
'h' < 'a' or 2 != 2

False

In [277]:
'h' < 'a' or 2 != 3

True

In [279]:
not(1 != 1)
# 1 != 1 -> false not(false) = >true

True